@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Racing+Sans+One&family=Roboto:wght@500&display=swap');

.container {
    width: 100vw;
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 110px 1fr;
}

.header {
    font-family: "Montserrat", sans-serif;
    background-color: #181818;
    grid-column-start: 1;
    grid-column-end: 4;
    font-weight: 500;
    font-size: 17px;
}

.logo {
    cursor: pointer;
    max-width: 200px;
    place-items: center;
    margin-top: 12px;
}

nav ul {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

nav ul li {
    line-height: 100px;
}

a.navbuttons {
    text-decoration: none;
    color: darkgray;
}

.navlinks li a:hover {
    color: goldenrod;
}

.navlinks li a {
    transition: all 0.4s ease 0s;
}

button.brandbtn {
    cursor: pointer;
    background-color: #181818;
    color: darkgray;
    transition: all 0.4s ease 0s;
    border: none;
    text-transform: uppercase;
    font-size: 17px;    
}

button.brandbtn:hover {
    color: goldenrod;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.445);
    z-index: 4;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    background-color: #181818;
}

.dropdown-content a:hover {
    background-color: rgb(51, 51, 51);
}

.dropdown-content a:focus {
    background-color: goldenrod;
    transition: all 0.4s ease 0s;
}

.dropdown-content a:active {
    background-color: white;
    transition: all 0.4s ease 0s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#brandlogos {
    position: relative;
    margin: 10px;
    padding: 0;
    max-width: 140px;
    top: 15px;

}

body {
    margin: 0;
    overflow: hidden;
    overflow-y:auto;
}

#contactbtn {
    color: goldenrod;
}

.main-wrapper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.background-wallpaper {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    z-index: -1;
}

#bg-wallpaper {
    width: 100%;
    height: 100%;
    filter: grayscale();
}

.forms-container {
    font-family: Roboto, Helvetica, sans-serif;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    background: #181818;
    margin: 10%;

    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(70, 53, 11);

    display: grid;
	grid-template-rows: 20px 1fr 3fr 20px;
	grid-template-columns: 1fr 3fr 1fr;
    filter: brightness(50%);
}

.forms-container:hover {
    transition: all 0.4s ease 0s;
    box-shadow: 0px 8px 16px 0px goldenrod;
    color: gray;
    filter: brightness(100%);
}

.forms-header {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;

	margin: auto;

	text-transform: uppercase;
	font-weight: bolder;
	font-size: 50px;
    color: ivory;
}

.forms-content {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;

    color: gray;
	margin: auto;

    line-height: 50px;
}

#submitbtn {
    grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 3;
	grid-column-end: 4;

	background: #181818;
    color: gray;
	cursor: pointer;
    border: none;

	font-family: inherit;
	font-weight: normal;
    font-size: 20px;

    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(70, 53, 11);

    padding: 5px 15px;
}

#submitbtn:hover {
    transition: all 0.4s ease 0s;
    background: rgb(51, 51, 51);
    box-shadow: 0px 8px 16px 0px goldenrod;
    color: ivory;
}

.data {
	border: none;
	background: none;
	outline: none;
}

::placeholder {
	color: gray;
    text-transform: uppercase;
}

hr.forms {
	border: solid thin gray;
    width: 100%;
    margin: 0;
}

input {
    color: ivory;
    font-size: 20px;
}

.footer {
    background-color: #181818;
    color: ivory;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
}

hr {
    border: thin solid rgb(53, 53, 53);
    margin-left: 25%;
    margin-right: 25%;
}

.footercontent {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
    font-family: Roboto, Helvetica, sans-serif;
}

#socmed-icons {
    filter: invert();
    width: 7%;
    padding: 0 10px;
    float: right;
}

#socmed-icons:hover {
    color: goldenrod;
}

p.firstsec {
    cursor: crosshair;
    color: #222120;
    text-align: left;
}